# AUTH (REQUIRED)
NEXTAUTH_SECRET=I am IronMan, I can do this all day, That is the sound of Lignthing
NEXTAUTH_URL=https:https://design-j9ehgkx1w-heliparacelse-netizens-projects.vercel.app/

# OAUTH (OPTIONAL - leave as false if no keys)
NEXT_PUBLIC_GOOGLE_ENABLED=false
NEXT_PUBLIC_APPLE_ENABLED=false
GOOGLE_CLIENT_ID=DISABLED_ADD_LATER
GOOGLE_CLIENT_SECRET=DISABLED_ADD_LATER
APPLE_ID=DISABLED_ADD_LATER
APPLE_SECRET=DISABLED_ADD_LATER

# BACKEND URL
NEXT_PUBLIC_API_URL=https://YOUR_RENDER_BACKEND_URL.onrender.com
